# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

# Also see this post:
# https://github.com/RemiBou/remibou.github.io/blob/03dcd83b728e1a741ac6d05165d4f6e5f22f8e55/_posts/2018-11-6-CI-pipeline-in-Azure-DevOps-with-CosmosDB-ASPNET-Core.md

trigger:
- master

pool:
  vmImage: 'vs2017-win2016'

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet build -c $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'

- task: azure-cosmosdb.emulator-public-preview.run-cosmosdbemulatorcontainer.CosmosDbEmulator@2
  displayName: 'Run Azure Cosmos DB Emulator container'

- script: dotnet test src\Test.FreeskiDb.WebApi\Test.FreeskiDb.WebApi.csproj  -v n
  displayName: 'dotnet test $(buildConfiguration)'
  env: { 'CosmosUri': "$(CosmosDbEmulator.Endpoint)" }  # list of environment variables to add

- task: DotNetCoreCLI@2
  displayName: dotnet publish to staging directory
  inputs:
    command: publish
    publishWebProjects: False
    arguments: 'src\FreeskiDb.WebApi\FreeskiDb.WebApi.csproj -c $(BuildConfiguration) -o $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True